{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/ico"> -->

    {% block head %}
    {% endblock %}

    <style>
        * {
            box-sizing: border-box;
        }
    </style>

</head>

<body>

    <div class="header">
        <style>
            /* header start */
            @font-face {
                font-family: CODE_regular;
                src: url({% static 'fonts/CODE_Light.otf' %});
            }

            .header {
                top: 0;
                position: fixed;
                width: 100%;
                z-index: 10;
                display: flex;
                flex-direction: row;
                background: #FEFEFEFE;
                justify-content: space-between;
            }

            .header .name {
                margin-left: 4vw;
                padding: .5em 1em;
                font-family: CODE_regular;
                font-size: 1.6em;
            }

            .header .nav {
                width: 25%;
                display: flex;
                align-self: center;
            }

            .header .link {
                position: relative;
                z-index: 2;
                padding: 1em 1.5em;
                font-family: 'Raleway', sans-serif;
            }

            .header .link a {
                color: #222222;
                text-decoration: none;
                position: relative;
            }

            .header .link a:after {
                content: '';
                background: black;
                width: 0%;
                height: 1px;
                position: absolute;
                top: 100%;
                left: 0;
                transition: .3s;
            }

            .header .link a:hover:after {
                width: 100%;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <div class="name">
            <h3>CSE327</h3>
        </div>

    </div>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {% endif %}
            <strong style="margin: 0 20%; text-align: center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </strong>
        </div>
        {% endfor %}
        {% endif %}

        {% block body %}

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        {% endblock %}

</body>

</html>